@import 'tailwindcss';

@theme {
  --font-display: 'Poppins', 'sans-serif';
}



@layer utilities {
  @media (max-width: 768px) {
    .balance {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
  }

  @keyframes scaleUp {
    
    0% {
      transform: scaleY(0);
    }
    100% {
      transform: scaleY(1);
    }
  }

  .animate {
    display: block;
    animation: scaleUp 0.5s ease forwards;
  }
}

.MOVEMENTS::-webkit-scrollbar {
  display: none;
}

/* * > * > * > *{
  outline: 2px solid red;
} */
